body{
  margin: 0px;
  padding: 0px;}


.red { background-color: #FCFCFC; }
.blue { background-color: #002540; }
.green { background-color: #FCFCFC; }
.pink { background-color: #FCFCFC; }
.black { background-color: #FCFCFC; }

section{ height: 980px; }

/*-------------- navigation -------------*/


nav {   
        width: 100%;
        position: absolute;
        top: 0;
        font-family: "Cutive" serif;
        background-color:002540;
        font-weight: 500em;
        padding-top: 0.3em;
        padding-bottom:0.3em;
        position: fixed;
        text-align: right;
        z-index: 10;
        opacity: 0.8;
        }

nav ul {
    text-align: right;   
    }
    
    nav ul li {
        display: inline;
        margin: 40px;
        text-align:right;
        font-family: "Cutive";
        font-size: 0.6em;
        }

 li { display: inline;
}

a:link {
        text-decoration: none;
        font-size: 30em;
        letter-spacing: 1px;
        word-spacing: 0.2px;
        text-transform: uppercase;
        font-size: 200%;
        vertical-align: middle;
}
        

 a:link {
        color: #BCF1C8;
        
}


a:visited {
        color:#BCF1C8;
        text-transform: none;}


a:hover {
    color:dimgrey;
}










<html>
<head>
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="img">
  <a target="_blank" href="marque.svg">
    <img src="marque.svg" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="forest.jpg">
    <img src="forest.jpg" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="lights.jpg">
    <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="mountains.jpg">
    <img src="mountains.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>