/* ----- CSS RESET ----- */
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 2em;
}

body{ width: 100%;
  margin: 0px;
  padding: 0px;}

footer{
    margin-left: 490px;
    margin-top: 60px;
    display: inline-block;
}



.red { background-color: #F8F8F8; 
height: 50%;
}
.blue { background-color: #002540; }
.green { background-color: #FCFCFC; }

.black { background-color: #FCFCFC; }

.intro { height: 980px; }


.gif {
      align-content: center;
}

.laptop { border: 80px;
    display: block;
    float: right;
   

}

/*-----------------map------------*/
.map { text-align: center;
    align-content: center;
    border: 80px;
display: block;
;
    

}


.interaction { float: left;
    margin-left: 7px;
}



/*-------------- navigation -------------*/


nav {   
        width: 100%;
    font-family: 'Glegoo', serif;
        position: absolute;
        top: 0;
        background-color:002540;
        font-weight: 500em;
        padding-top: 0.3em;
        padding-bottom:0.3em;
        padding-left: -4em;
        padding-right: -4em;
        position: fixed;
        text-align: right;
        z-index: 10;
        opacity: 0.8;
        }

nav ul {
    text-align: right;   
    }
    
    nav ul li {
        display: inline;
        margin: 40px;
        text-align:right;
        font-size: 0.6em;
        }

 li { display: inline;
}

a:link {
        text-decoration: none;
        font-size: 30em;
       letter-spacing: 1px;
        word-spacing: -8.2px;
        font-size: 150%;
        vertical-align: middle;
}
        

 a:link {
        color: #002540;
        
}


a:visited {
        color:#002540;
        text-transform: none;}


a:hover {
    color:#BCF1C8;
}


/*----------intro------*/
.intro {
    font-family: 'Glegoo', serif;
    font-size: 3.2em;
    color: #EF504F;
    text-align: center;
    padding-top: 140px;
    margin-top: 180px;
    margin-bottom: 280px;
    height: 70%;
}

.third {font-family: 'Glegoo', serif;
    font-size: 1.2em;
    color: #EF504F;
    border: 8px;
    text-align: center;
    padding-top: 140px;
    margin-top: 180px;
    margin-bottom: 280px;
    height: 70%;
}

.fourth {font-family: 'Glegoo', serif;
font-size: 1.2em;
color: #EF504F;
text-align: center;
align-content: center;
padding-top: 60px;
    padding-bottom: 90px;
    line-height: 1em;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #EF504F;
  font-family: 'Glegoo', serif;
border: 30px;
  color: #FFFFFF;
  float: center;
  text-align: center;
 padding-left: -10px;
  font-size: 14px;
  margin-left: 500px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}

.button style {text-align: center;}

.button span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.fifth {font-family: 'Glegoo', serif;
font-size: 1.2em;
color: #EF504F;
    border: 2em;
    border-color: #bcf1c8;
align-content: center;
padding-top: 20px;
    padding-left: 524px;
    padding-bottom: 90px;}

/*
#photos {
  /* Prevent vertical gaps 
  line-height: 0;
    display: inline-block;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   6px;
  -moz-column-count:    2;
  -moz-column-gap:      6px;
  column-count:         2;
    column-rule-width: medium;
  column-gap:           6px;  
}

#photos img {
  /* Just in case there are inline attributes 
  width: 100% !important;
  height: auto !important;
}



@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}   

/*----------*/

#gifs {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   14px;
   -moz-column-count:    2;
   -moz-column-gap:      14px;
   column-count:         2;
   column-gap:           14px;
    padding-left: 7em;
    padding-right: 7em;
   
}
#gifs img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
transition: opacity .25s ease-in-out;
    
}
@media (max-width: 800px) {
  #gifs {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #gifs {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

    
/*-----footer-------*/
    
#box{
    width: 1324px;
    height: 30px;
    background-color: #002540;
    }
    
    footer {display: inline-block;
    align-content: center;}
 
/*---------social-----*/

#social a {
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#social a:hover {
  opacity: 0.3;
}

#social li {
  display: inline;
margin: 0px;
  color: #444;
}

#social li img {
  width: 50px;
    display: inline-block;
    margin-bottom: 40px;
}

#social {
  margin-top; 10px;
  text-align: center;



    
    
    
    /*--------------------MEDIA QUERIES--------------------*/
        
/*---------- TABLET ----------------*/
@media (max-width: 50em) {
    
   
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
    width: 100%;
    font-size: 110%;
    }
    
article {
    width: 75%;
    } 

h1 {font-size: 2.9em;}   

blockquote p{padding: 0;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
nav ul li {font-size: .75em;
        margin: 10px}
}



